*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    background:#0f0c29;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    color:white;
}

h1{
    margin-bottom:20px;
    color:skyblue;
}

.status{
    margin-bottom:20px;
    font-size:1.5rem;
    font-weight:bold;
}

.board{
    display:grid;
    grid-template-columns:repeat(3, 100px);
    grid-template-rows:repeat(3, 100px);
    gap:10px;
    background:#0f0c29;
    padding:10px;
    border-radius:10px;
    box-shadow:0 10px 30px black;
}

.cell{
    width:100px;
    height:100px;
    background:grey;
    border-radius:8px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:2.5rem;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.cell:hover{
    background:gray;
}

.cell.x{
    color:skyblue;
}

.cell.o{
    color:red;
}

.restart-btn{
    margin-top:30px;
    padding:10px 25px;
    background:green;
    color:white;
    border:none;
    border-radius:5px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.restart-btn:hover{
    background:#26af5f;
    transform:scale(1.05);
}